#banner-image{
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("https://images.unsplash.com/photo-1597799119438-cbf326f268b9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2F0ZXIlMjBzcG9ydHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80") no-repeat center center;
    background-size:cover;
}
#banner-content{
    position: relative;
    padding-top:100px ;
    padding-bottom:100px ;
    padding-right:0px ;
    padding-left:0px;
    margin: top 0px;
    margin-bottom:0px;
    background-color: rgba(43, 42, 42, 0.7);
    max-width: 2560px;
    overflow:hidden;
}
footer{
    padding: 10px 0;
    background-color: black;
    color:#9d9d9d;
    bottom: 0;
    width: 100%;
}
.row_style{
    margin-top: 80px;
}
.footer_style{
    margin-top: 10px;
    
}
.col-xs-6{
    margin-top: 50px;
}
.paragraph{
    padding-top:60px;
}
@media screen and (min-width: 540px){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
}

@media screen and (min-width: 768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .blog-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 992px){
    .blog-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }
}
